/* Harvested Framer / design tokens */
:root {
  --framer-aspect-ratio-supported: auto;
  --framer-font-family: Inter,Inter Placeholder,sans-serif;
  --framer-font-family-bold: "Inter Display","Inter Display Placeholder",sans-serif;
  --framer-font-family-bold-italic: "Inter Display","Inter Display Placeholder",sans-serif;
  --framer-font-family-italic: "Inter Display","Inter Display Placeholder",sans-serif;
  --framer-font-open-type-features: normal;
  --framer-font-size: 16px;
  --framer-font-style: normal;
  --framer-font-style-bold: normal;
  --framer-font-style-bold-italic: italic;
  --framer-font-style-italic: italic;
  --framer-font-variation-axes: normal;
  --framer-font-weight: 500;
  --framer-font-weight-bold: 700;
  --framer-font-weight-bold-italic: 700;
  --framer-font-weight-italic: 600;
  --framer-letter-spacing: 0;
  --framer-line-height: 1.2em;
  --framer-link-hover-text-color: var(--token-c3b3032e-80cc-4422-afaf-13515544f241,#666);
  --framer-link-hover-text-decoration: underline;
  --framer-link-text-color: var(--token-ed49300e-c50b-446f-afce-d6417c1ecf0e,#050505);
  --framer-paragraph-spacing: 0px;
  --framer-text-alignment: start;
  --framer-text-background-color: initial;
  --framer-text-background-corner-shape: initial;
  --framer-text-background-padding: initial;
  --framer-text-background-radius: initial;
  --framer-text-color: #000;
  --framer-text-decoration: none;
  --framer-text-decoration-color: none;
  --framer-text-decoration-offset: none;
  --framer-text-decoration-skip-ink: none;
  --framer-text-decoration-style: none;
  --framer-text-decoration-thickness: none;
  --framer-text-stroke-color: initial;
  --framer-text-stroke-width: initial;
  --framer-text-transform: none;
  --framer-text-wrap-override: balance;
  --framer-will-change-filter-override: filter;
  --framer-will-change-override: transform;
  --token-09631677-32fa-4c34-91d8-d36a088fd60b: #999;
  --token-13eeaaf5-c2a3-439e-b1ba-d7e374f51a39: #1a73e8;
  --token-195ffd1d-88aa-4886-a86e-f633e61e44c7: #fff0;
  --token-1d415d8d-0090-4270-98f3-57852a560cbe: #f8f8f8;
  --token-38a9a261-835b-4818-9daa-dc4e250ea768: #050505;
  --token-5a5d313a-e463-4c3a-a227-95873e93b3e4: #050505cc;
  --token-72cadf57-d968-4416-b2ef-6f7b6cd4655f: #fff3;
  --token-7f860d11-2773-4fa2-a63a-2ec692b5c1ab: #0505054d;
  --token-b50d87f3-e07a-4270-b10b-9709f6919759: #f24;
  --token-c06b0098-1f19-4867-9ca8-b1d63c893aab: #0505051a;
  --token-c3b3032e-80cc-4422-afaf-13515544f241: #666;
  --token-c966359b-ad94-41d4-9cee-ed518cc31784: #fff;
  --token-d298b0af-ad88-404e-8448-a632eb18fbb8: #05050500;
  --token-d5caff58-a3ea-4926-8b60-3afea988a716: #d9d9d9;
  --token-dd24ca83-7b9c-4d4e-9da6-cd07020a96dc: #ffffff1a;
  --token-e42b162e-de6f-49f2-8501-e67127b2ab3d: #0505050d;
  --token-ed49300e-c50b-446f-afce-d6417c1ecf0e: #050505;
  --token-efe2d828-d9f8-4519-929a-953a972f190b: #ff224426;
  --token-faaee952-b0b1-4ada-83d2-4a3d4d02155f: #f0f0f0;
}
